
* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    border: 1px solid;
    padding: 10px;
    height: 100vh;
}

.left-bar {
    border: 2px solid black;
    padding: 50px;
    grid-row: 1/5;
    grid-column: 1/3;
    background-color: yellow;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.first-sec {
display: flex;
flex-direction: column;
gap: 15px;
}

.second-sec {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home, .profile, .message, .history, .tasks, .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.setting, .support, .privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dash h2 {
    text-align: left;
    text-decoration: underline;
}

svg {
    width: 24px;
    height: 24px;
}


.top-sec {
    border: 1px solid;
    grid-column: 3/8;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.upper {
    margin-top: -20px;
    width: 100%;
    border: 2px solid;
    padding: 20px;
    background-color: lightgreen;
    
}

.lower {
    border: 2px solid;
    padding: 20px;
    background-color: lightblue;
}

.main-sec {
    background-color: aqua;
    border: 2px solid;
    padding: 50px;
    grid-column: 3/7;
    grid-row-start: 2;
    grid-row-end: 5;
}

.side-sec {
    background-color: blueviolet;
    border: 2px solid;
    padding: 50px;
    grid-row: 2/4;
}


.lower-side-sec {
    border: 2px solid;
    padding: 50px;
    grid-column: 7/8;
    grid-row: 4/ 4;
    background-color: blue;
}


